<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Mail-sent</title>
</head>
<body>
     {% extends "base.html" %}
     {% block content %}
         <div class="d-flex justify-content-center">
             <div class="text-center position-absolute top-50 start-50 translate-middle">
                <h3>На вашу почту было отправлено письмо о подтверждении регистрации !</h3>
                 <br>
                 <a class="btn btn-primary" href="/index">
                     <img src="../static/home_logo.png" height="75" width="100"/>
                 </a>
             </div>
         </div>>

     {% endblock %}
</body>
</html>